[2020-05-20 16:18] Pk13055 opened #1 "[Addition] Verbose installation and running instructions"
Update the current README with better instructions for installation and setup.

[2020-05-21 15:34] Pk13055 commented on #1
There is a set of READMEs that needs to be updated:
- [Overall project README](README.md)
- [Backend FastAPI README](./backend/README.md)
- [Frontend VueJS [README](./frontend/README.md)

[2020-05-25 08:16] kjain1810 opened #4 "Development branch"
Do we make all changes to the master branch itself or will there be a development branch for that?

[2020-05-25 08:43] gsc2001 commented on #4
I think there will be a seperatte branch for each feature.

[2020-05-25 22:44] Pk13055 commented on #4
@kjain1810 Refer to the #general channel on Slack for an overview of how the development process will happen.

[2020-05-25 22:44] #4 closed

[2020-06-03 01:01] Pk13055 opened #5 "[Bug] OpenAPI doc generation"
Currently because of some pydantic-based issue, the documentation is not generating (refer to [this](https://github.com/tiangolo/fastapi/issues/1504) for more details). So for now, refer to the source code and the documentation PDF provided.

[2020-06-04 01:11] Pk13055 opened #6 "[UI] Static template site"
Start looking at the backend API and making the wireframe designs for the various pages. Right off the bat I see a couple of pages:
• Homepage (culmination of all the categories (with recently added content now, probably in the form of a pinterest grid)
• Each category page (A hompage for each category with recently posted content, along with filters depending on model schema)
• Each item homepage

[2020-06-05 14:35] #5 closed

[2020-06-05 17:01] Pk13055 opened #8 "[Features] verify & implement \`get_category_route\` [Features] verify & implement \`get_category_item_route\` [Features] verify & implement \`add_item_route\` [Features] verify & implement \`update_item_route\` [Features] verify & implement \`rate_item_route\` [Features] verify & implement \`login_route\` [Features] verify & implement \`get_category_list_route\` [Features] verify & implement \`get_users_route\` [Features] verify & implement \`signup_route\` [Features] verify & implement \`get_user_route\` [Features] verify & implement \`update_user_route\` [Features] verify & implement \`like_item_route\`"
Things to note:
    - [] Ensure feature branch created with title: `route-fix`, so eg: `get_category_route-fix`
    - [] Rebase frequently to avoid conflicts later on
    - [] Try to ensure only a couple of commits
    - [] Test your code thoroughly before pushing
    - [] Add to description, "Fixes #issue-no, eg: Fixes #8 (where #8 is the issue id)"

Final merge request will be of

Things to note

[2020-06-05 17:01] #8 closed

[2020-06-05 17:03] Pk13055 opened #9 "[Features] verify & implement `get_category_route`"
Things to note:
    - [ ] Ensure feature branch created with [Features] verify & implement `get_category_route`: `route-fix`, so eg: `get_category_route-fix`
    - [ ] Rebase frequently to avoid conflicts later on
    - [ ] Try to ensure only a couple of commits
    - [ ] Test your code thoroughly before pushing
    - [ ] Add to description, "Fixes #issue-no, eg: Fixes #8 (where #8 is the issue id

[2020-06-05 17:03] Pk13055 opened #10 "[Features] verify & implement `get_category_item_route`"
Things to note:
    - [ ] Ensure feature branch created with [Features] verify & implement `get_category_item_route`: `route-fix`, so eg: `get_category_route-fix`
    - [ ] Rebase frequently to avoid conflicts later on
    - [ ] Try to ensure only a couple of commits
    - [ ] Test your code thoroughly before pushing
    - [ ] Add to description, "Fixes #issue-no, eg: Fixes #8 (where #8 is the iss

[2020-06-05 17:03] Pk13055 opened #11 "[Features] verify & implement `add_item_route`"
Things to note:
    - [ ] Ensure feature branch created with [Features] verify & implement `add_item_route`: `route-fix`, so eg: `get_category_route-fix`
    - [ ] Rebase frequently to avoid conflicts later on
    - [ ] Try to ensure only a couple of commits
    - [ ] Test your code thoroughly before pushing
    - [ ] Add to description, "Fixes #issue-no, eg: Fixes #8 (where #8 is the issue id)"

[2020-06-05 17:03] Pk13055 opened #12 "[Features] verify & implement `update_item_route`"
Things to note:
    - [ ] Ensure feature branch created with [Features] verify & implement `update_item_route`: `route-fix`, so eg: `get_category_route-fix`
    - [ ] Rebase frequently to avoid conflicts later on
    - [ ] Try to ensure only a couple of commits
    - [ ] Test your code thoroughly before pushing
    - [ ] Add to description, "Fixes #issue-no, eg: Fixes #8 (where #8 is the issue id)

[2020-06-05 17:03] Pk13055 opened #13 "[Features] verify & implement `rate_item_route`"
Things to note:
    - [ ] Ensure feature branch created with [Features] verify & implement `rate_item_route`: `route-fix`, so eg: `get_category_route-fix`
    - [ ] Rebase frequently to avoid conflicts later on
    - [ ] Try to ensure only a couple of commits
    - [ ] Test your code thoroughly before pushing
    - [ ] Add to description, "Fixes #issue-no, eg: Fixes #8 (where #8 is the issue id)"

[2020-06-05 17:03] Pk13055 opened #14 "[Features] verify & implement `login_route`"
Things to note:
    - [ ] Ensure feature branch created with [Features] verify & implement `login_route`: `route-fix`, so eg: `get_category_route-fix`
    - [ ] Rebase frequently to avoid conflicts later on
    - [ ] Try to ensure only a couple of commits
    - [ ] Test your code thoroughly before pushing
    - [ ] Add to description, "Fixes #issue-no, eg: Fixes #8 (where #8 is the issue id)"

Fin

[2020-06-05 17:04] Pk13055 opened #15 "[Features] verify & implement `get_category_list_route`"
Things to note:
    - [ ] Ensure feature branch created with [Features] verify & implement `get_category_list_route`: `route-fix`, so eg: `get_category_route-fix`
    - [ ] Rebase frequently to avoid conflicts later on
    - [ ] Try to ensure only a couple of commits
    - [ ] Test your code thoroughly before pushing
    - [ ] Add to description, "Fixes #issue-no, eg: Fixes #8 (where #8 is the iss

[2020-06-05 17:04] Pk13055 opened #16 "[Features] verify & implement `get_users_route`"
Things to note:
    - [ ] Ensure feature branch created with [Features] verify & implement `get_users_route`: `route-fix`, so eg: `get_category_route-fix`
    - [ ] Rebase frequently to avoid conflicts later on
    - [ ] Try to ensure only a couple of commits
    - [ ] Test your code thoroughly before pushing
    - [ ] Add to description, "Fixes #issue-no, eg: Fixes #8 (where #8 is the issue id)"

[2020-06-05 17:04] Pk13055 opened #17 "[Features] verify & implement `signup_route`"
Things to note:
    - [ ] Ensure feature branch created with [Features] verify & implement `signup_route`: `route-fix`, so eg: `get_category_route-fix`
    - [ ] Rebase frequently to avoid conflicts later on
    - [ ] Try to ensure only a couple of commits
    - [ ] Test your code thoroughly before pushing
    - [ ] Add to description, "Fixes #issue-no, eg: Fixes #8 (where #8 is the issue id)"

Fi

[2020-06-05 17:04] Pk13055 opened #18 "[Features] verify & implement `get_user_route`"
Things to note:
    - [ ] Ensure feature branch created with [Features] verify & implement `get_user_route`: `route-fix`, so eg: `get_category_route-fix`
    - [ ] Rebase frequently to avoid conflicts later on
    - [ ] Try to ensure only a couple of commits
    - [ ] Test your code thoroughly before pushing
    - [ ] Add to description, "Fixes #issue-no, eg: Fixes #8 (where #8 is the issue id)"

[2020-06-05 17:04] Pk13055 opened #19 "[Features] verify & implement `update_user_route`"
Things to note:
    - [ ] Ensure feature branch created with [Features] verify & implement `update_user_route`: `route-fix`, so eg: `get_category_route-fix`
    - [ ] Rebase frequently to avoid conflicts later on
    - [ ] Try to ensure only a couple of commits
    - [ ] Test your code thoroughly before pushing
    - [ ] Add to description, "Fixes #issue-no, eg: Fixes #8 (where #8 is the issue id)

[2020-06-05 17:04] Pk13055 opened #20 "[Features] verify & implement `like_item_route`"
Things to note:
    - [ ] Ensure feature branch created with [Features] verify & implement `like_item_route`: `route-fix`, so eg: `get_category_route-fix`
    - [ ] Rebase frequently to avoid conflicts later on
    - [ ] Try to ensure only a couple of commits
    - [ ] Test your code thoroughly before pushing
    - [ ] Add to description, "Fixes #issue-no, eg: Fixes #8 (where #8 is the issue id)"

[2020-06-05 17:05] Pk13055 commented on #14
Closed with commit.

[2020-06-05 17:05] #14 closed

[2020-06-05 17:06] Pk13055 commented on #15
Implemented with push

[2020-06-05 17:06] #15 closed

[2020-06-05 17:19] Pk13055 commented on #6
You can pull the repo and navigate to `localhost:8000/api/docs` or `localhost:8000/api/redoc` for the documentation of the backend API routes and model schema

[2020-06-05 17:21] Pk13055 commented on #16
done with push

[2020-06-05 17:21] #16 closed

[2020-06-05 17:22] #1 closed

[2020-06-05 19:13] gsc2001 commented on #11
I would like to work on this

[2020-06-05 19:56] kjain1810 commented on #9
I can work on this

[2020-06-06 11:39] gsc2001 commented on #11
I have few doubts regarding this.
- What are the category ids exactly. Like category id for movies is (movie or movies) ?
- What should be the database name for that paritcular category? Same as category_id?
- Sending a random string in place of category_id in add_item_route does not result in any error. Is it ok?
- Sending a valid response for movies to add item route with category_id of shows gi

[2020-06-06 14:29] Pk13055 commented on #11
- the category IDs are:
    - movies
    - shows
    - anime
    - music
    - books
- The database name(s) should be same as `category_id`
- It's not OK, it has to return an error. You can do something like
[code]
- No it is not OK, you have to enfore that.
[code]

No, frontend just implements basic validation. At the end of the day, it is the responsibility of the backend to ensure incorrect dat

[2020-06-06 14:47] gsc2001 commented on #11
Ok. For the last one we dont have any `category_id` field in our request model, so i manually check for all the required corresponding to a particular field which i think is not a good way of doing that or we can add a category_id field in the request body.

[2020-06-06 14:53] Pk13055 commented on #13
I will work on this issue!

[2020-06-06 14:56] Pk13055 commented on #11
The controller for the `add_item_route` is as follows:
[code]

The url itself has the parameter `{category_id}` so you can just use that, that's why it's not part of the request model.

[2020-06-06 14:57] gsc2001 commented on #11
Also by the method you told  it will return a 200 OK status. Which i dont think is nice. So we can follow something like [this](https://fastapi.tiangolo.com/tutorial/path-params/#predefined-values) from the documention to restrict possible paths.

[2020-06-06 15:02] gsc2001 commented on #11
Basically i am saying that if I grab request_id from url i need to manually check for each required component for each category_id . That is if the url is for movies, and request is of the form shows i need to verify from the request body that the object structure is of the type mentioned in the url

[2020-06-06 15:12] susiejojo commented on #12
I'd like to work on this.

[2020-06-06 15:42] Pk13055 commented on #11
As I had mentioned earlier:
[code]

PS: Refer to [this](https://pydantic-docs.helpmanual.io/usage/models/) for details on models and validation

[2020-06-06 15:44] Pk13055 commented on #12
Sure, but you'll have to wait for #11 to be merged before working on this. Also, similar sort of checks would be ensured under this route as well.

[2020-06-06 16:19] kjain1810 commented on #9
Should I add validation for the data I am getting or can I assume that the file returned by the database will have the content according to our schemas specified in the documentation?

[2020-06-06 18:06] gsc2001 commented on #11
There are some problems in this. First setting data to elipsis (...) is giving this error.

![image](https://user-images.githubusercontent.com/56212978/83951145-1c5c9880-a84d-11ea-8715-85b24f721a00.png)

Which i fixed by not passing any value in data.  But the MAJOR problem is that the route expects ItemInResponse model which has data required, but we are sending ResponseBase which has no data, th

[2020-06-06 18:31] kjain1810 commented on #11
[code]
@gsc2001 is this working for you? The if condition always returns true for me as checking ```in CategoryEnum``` gives me objects of type ```CategoryEnum.movie``` , etc. How did you access the values in them?

[2020-06-06 19:00] gsc2001 commented on #11
@kjain1810  Yeah I realized that just now. The if condition is also not working.   I tried fixing it by casting casting_id to CategoryEnum like this
[code]

But there is a problem in this also as if category_id is not a CategoryEnum it will result into error like this
![image](https://user-images.githubusercontent.com/56212978/83952349-f38cd100-a855-11ea-9feb-d74da2a2c620.png)

All these problems

[2020-06-06 19:30] kjain1810 commented on #11
@gsc2001 doesn't that just hard codes the different categories that we have?That'll have issues if we want to expand our category list in the future. There must be a better way for this.

[2020-06-06 19:33] gsc2001 commented on #11
@kjain1810  are you referring to method in the documentation or in which i told. The method which is in the documentation is very good we can easily add more categories to it without any hassle by adding then in the CategoryEnum class

[2020-06-06 21:52] kjain1810 commented on #11
@gsc2001 I am unable to understand how the method provided in <a href = "https://fastapi.tiangolo.com/tutorial/path-params/#predefined-values" >these documentations </a> would provide us an easy way to add more categories in the future. However, I tried a couple of methods and found this to be the easiest one:
[code]

[2020-06-06 22:34] kjain1810 opened #21 "Importing class Book to category.controller"
The file category.controller requires Book to be imported to it as well

[2020-06-07 01:06] kjain1810 commented on #13
I want to work on this

[2020-06-07 01:45] Pk13055 commented on #11
Check this out https://stackoverflow.com/a/29795561

[2020-06-07 01:50] #21 closed

[2020-06-07 01:53] Pk13055 commented on #11
This is bad practice since a loop is run each time
And you need it to be category agnostic

[2020-06-07 01:59] Pk13055 commented on #13
Okay basically when somone send an API request to the likes url
- First and foremost, verify valid category etc
- `token: str = Depends(verify_token)` will return a JSON `{ “username”: “username@iiit.ac.in”}`, use this to fetch the user `db[“core”][“users”].find_one_or_404(token)`
- After fetching user, update likes
[code]

[2020-06-07 02:05] Pk13055 commented on #20
Okay basically when somone send an API request to the likes url
- First and foremost, verify valid category etc
- `token: str = Depends(verify_token)` will return a JSON `{ “username”: “username@iiit.ac.in”}`, use this to fetch the user `db[“core”][“users”].find_one_or_404(token)`
- After fetching user, update likes

[code]
Alternatively, I think a better way is to change the Likes to a `Dict`
[co

[2020-06-07 02:13] Pk13055 commented on #13
Great, please go ahead!

Few things to note:
- When a rating is submitted, it should be pushed to two places:
	- `Core.users.ratings`
	- `{Category}.ratings`

First, you have to create a ratings object in the ratings collection inside of the`{ category}` database.
[code]
After adding this document to the db, it will generate an ID, use that in the `user.rating`

[code]

[2020-06-07 03:33] Pk13055 commented on #9
@kjain1810 Did you even bother reading the description of this issue? It clearly says to submit the request for

1. Create a separate branch for the fix (otherwise as you can see on your current PR, there are all the previous commits from the previous merge request being committed again)
2. Add to your **description**, fixes <issue> **NOT** to the title.

[2020-06-07 03:43] kjain1810 commented on #9
@Pk13055 ohh crap, I thought we had to merge it back before making a pull request, I'll fix and make the request properly, sorry.

[2020-06-07 07:06] gsc2001 commented on #11
So i have figured this out we can send error by raising HTTPException and setting status codes. but initially even if i set 404 status code it sent 200. This could be rectified just by adding status_code in JSONResponse in HTTPException handeler. and convert it to something like this.
[code]

and raising the HTTPException like this:-
[code]
And all of this works pretty well.

[2020-06-07 07:10] gsc2001 opened #24 "Allow HTTPException to set status codes."
Current HTTPException cant set a status code to something other that 200 and 422. This can be easily fixed by adding status_code parameter in error_handler.

[2020-06-07 07:28] MSurfer20 commented on #18
Can this issue be assigned to me

[2020-06-07 07:52] gsc2001 commented on #11
Bson is not able to encode Set of typing. Its showing error as follows
![image](https://user-images.githubusercontent.com/56212978/83963181-9d557780-a8c1-11ea-8bb3-9a7ab78a3530.png)
What can be done . I searched on google and found [this](https://api.mongodb.com/python/current/examples/custom_type.html) but this requires a lot of changes. And also why cant we use simple List in place of Set?

[2020-06-07 08:52] KevinVargis commented on #10
I would like to work on this.

[2020-06-07 13:45] Pk13055 commented on #11
Okay best option is convert it to a list and use `$addToSet` instead of `$push`

[2020-06-07 13:48] #24 closed

[2020-06-07 14:54] Pk13055 commented on #20
I will work on this issue

[2020-06-07 15:12] gsc2001 commented on #11
You mean to use these these while updating ?

[2020-06-07 15:42] gsc2001 opened #27 "[Fix] Change typing Set to List"
As bson can not encode typing Set change that to List

[2020-06-07 16:06] #20 closed

[2020-06-07 16:06] #27 closed

[2020-06-07 16:07] Pk13055 commented on #11
Yes, `$addToSet` will avoid adding new genres if they already exist in the array

[2020-06-07 16:13] #9 closed

[2020-06-07 16:19] #17 closed

[2020-06-07 16:20] Pk13055 commented on #19
There are no fields to update as of now, so we can ignore this part ^

[2020-06-07 16:20] #19 closed

[2020-06-07 17:08] #11 closed

[2020-06-07 17:10] Pk13055 commented on #13
@gsc2001 Please check if @kjain1810 needs some help with this

[2020-06-07 17:11] Pk13055 commented on #12
@susiejojo You can work on this, since it has been merged. For the most part, this would follow the same structure as the `add_item_route` controller

[2020-06-07 17:16] Pk13055 commented on #6
Something like this would be quite nice:
![IMG_0607](https://user-images.githubusercontent.com/13479308/83975271-acafe180-a910-11ea-9a99-207c61a6d36e.PNG)

[2020-06-07 17:27] gsc2001 commented on #13
Instead of token in update one shouldn't it be user_id?

[2020-06-07 17:37] gsc2001 commented on #13
And alao ehat do you mean by already added, do you mean to ensure that there is only 1 rating per person per item?

[2020-06-07 18:47] kjain1810 opened #31 "[Bug]add_item_route"
```item``` is of type ```Union[Movie, Anime, Show, Music]```

Book should also be in this union list

[2020-06-07 18:51] #31 closed

[2020-06-07 19:56] susiejojo commented on #12
On logging in through CAS, I get authenticated as per the logs, but it returns Internal Server Error with the following message in logs:
![image](https://user-images.githubusercontent.com/42820001/83978689-ceb45e80-a926-11ea-9092-ec2d22c0d395.png)
Is the redirect URL on logging in not fixed?

[2020-06-08 00:51] Pk13055 commented on #12
It should work, try the latest commit

[2020-06-08 06:34] gsc2001 opened #32 "[Bug] while saving new user."
There is a bug in login  route . In line 51 it is saving User.dict where it should be user.dict
As capital is the class

[2020-06-08 08:03] susiejojo commented on #12
As pointed by Gurkirat in #32, this needs to be fixed.

[2020-06-08 08:13] gsc2001 commented on #32
Doing this fixes everything

[2020-06-08 22:46] #32 closed

[2020-06-08 22:46] Pk13055 commented on #18
@MSurfer20 How's this coming along?

[2020-06-08 22:47] Pk13055 commented on #13
Yeah

[2020-06-08 22:48] Pk13055 commented on #10
@KevinVargis How's this coming along?

[2020-06-08 22:49] Pk13055 commented on #12
@susiejojo The issue has been fixed by the latest merge. Check it it is fixable now

[2020-06-08 23:23] susiejojo commented on #12
So updating will happen by specific fields or by the whole response? We may need to define a schema for ItemInUpdate then right?

[2020-06-09 01:00] Pk13055 commented on #12
It has to be whole schema, basically once a fetch is done to render the item anyways there will be all the data available.
So modifying a single item will change a part of the `Item` state and then a patch request can be sent to, say, `/api/movies/{ObjectId}` with the entire state

[2020-06-09 10:50] KevinVargis commented on #10
Done with implementation. Trying to add validation of item_id. Currently if it isn't ObjectID type, Internal server error is thrown.

[2020-06-09 12:15] gsc2001 commented on #10
@KevinVargis  you can see code in PR #37 if you wondering on how to check if passed id is in DB and is valid

[2020-06-09 12:17] gsc2001 commented on #18
If you are having any problem @MSurfer20  please comment here.

[2020-06-09 13:26] KevinVargis commented on #10
Thank you, I'll look into it.

[2020-06-09 13:27] MSurfer20 commented on #18
I was getting Internal Service Error, I'll fix it by today

[2020-06-09 16:08] Pk13055 commented on #6
@Megha-Bose will be handling this issue

[2020-06-09 18:06] #18 closed

[2020-06-09 20:36] #12 closed

[2020-06-10 07:42] MSurfer20 opened #41 "[Fix] Redundant import in backend/app/user/controller.py"
The ObjectId import is not needed now, and is redundant after changes in base.py

[2020-06-10 19:27] #10 closed, assigned to KevinVargis

[2020-06-10 21:54] Pk13055 opened #44 "[Testing] Backend routes"
## Styling and PEP
- [ ] No redundant/extra imports (check which imports are being used in a particular file and remove the ones that aren't)
- [ ] Sorted import order
[code]
- [ ] Relative imports for local packages

[code]

- [ ] Line spacing and EOL
    - Two line spaces between top-level functions/classes
    - One line space at the end of each file
- [ ] Function definition and declaration

[2020-06-11 07:03] gsc2001 commented on #44
Sure. @Pk13055

[2020-06-11 08:48] gsc2001 commented on #44
Styling and pep8 done

[2020-06-11 08:58] gsc2001 commented on #44
I used HTTPException where it is required to send data in response. As we dont have data it was not allowing to return only success=False

[2020-06-11 14:53] gsc2001 commented on #44
@Pk13055  there is an error in update_item route. In order to update an item we need to send all required fields which were set previously because it needs item to be a category type,
we have set item like this
[code]
I am thinking to do this like this
[code]

[2020-06-11 15:18] gsc2001 commented on #44
In get user_route in docstring you have written to get the details of the logged in user. but i the route it was getting from user_id passed as param.

So i changed that to this
[code]
i added /me because only /api/user it gets clashed with the get categry route as it sees user as a category id

Is it ok @Pk13055

[2020-06-11 15:19] gsc2001 commented on #44
We dont have any update_user and signup route.

[2020-06-11 15:30] gsc2001 commented on #44
In the the like item route there were no check if that particular item_id existed. so i updated that to this

[code]
this is working perfectly

[2020-06-11 15:47] Pk13055 commented on #44
It will have prefix as user anyways

[2020-06-11 15:51] gsc2001 commented on #44
But now it gets /user/me , no routes clash woth this

[2020-06-11 15:52] Pk13055 commented on #44
Even with prefix user does it actually clash?

[2020-06-11 15:52] gsc2001 commented on #44
So how do i do this, i am not able to think of any other way

[2020-06-11 15:53] Pk13055 commented on #44
All fields will be sent since frontend will have original state

[2020-06-11 15:53] gsc2001 commented on #44
It clashes when i use /user only , otherwisr its fine

[2020-06-11 15:54] gsc2001 commented on #44
Ok.

[2020-06-11 19:23] Pk13055 commented on #44
Also try changing the order of the `app.include_router` in `app/__init__.py`. That might fix the route mistmatching

[2020-06-11 19:25] gsc2001 commented on #44
Yeah, that will fix the issue, so do i use only / to get the current user data. ?

[2020-06-11 20:02] gsc2001 commented on #44
There is a problem in rate element route. On supplying a valid rating its not working
its showing this error:-
![image](https://user-images.githubusercontent.com/56212978/84431638-3df0c200-ac49-11ea-8dd5-dac397a98289.png)
On seeing further i found that rating is a list of Dict[CategoryEnum, ..], but when doing 'movies'  its takes as a string. So it gives error.
![image](https://user-images.githubu

[2020-06-11 20:14] gsc2001 commented on #44
its wierd its working with like but not here

[2020-06-11 20:21] gsc2001 commented on #44
Only this is left everything else has been done

[2020-06-11 21:43] kjain1810 commented on #44
@gsc2001 I also faced the same problem while trying to implement this route. <a href="https://github.com/kjain1810/recommender-portal/blob/rate_item_route-fix/backend/app/categories/controller.py"> This </a> code works but it does not return any data (This is before the definition of ResponseBase was changed). The problem is with the rating being float. Since like was defined as a Like object havi

[2020-06-13 07:48] gsc2001 commented on #44
Changing to str worked, the problem was after changing i didn't created new user with that

[2020-06-14 06:42] #44 closed

[2020-06-14 06:49] Megha-Bose commented on #6
![Screenshot from 2020-06-14 12-17-33](https://user-images.githubusercontent.com/56213000/84587012-4576bd80-ae39-11ea-830e-e7232e2d3ff3.png)
![Screenshot from 2020-06-14 12-17-12](https://user-images.githubusercontent.com/56213000/84587013-49a2db00-ae39-11ea-89da-0266886898b0.png)
![Screenshot from 2020-06-14 12-16-28](https://user-images.githubusercontent.com/56213000/84587020-4c9dcb80-ae39-11ea-

[2020-06-14 11:39] Pk13055 commented on #6
Looks awesome, will check it out myself. In the meanwhile can you just create a PR so we can review it there.

[2020-06-21 07:03] Pk13055 opened #49 "[Addition] Vuex template for API access"

[2020-06-21 21:12] #49 closed

[2020-06-25 11:28] Pk13055 opened #54 "[Docs] Create roadmap"
We need to create a roadmap to track various functionality. Something similar to [this](https://github.com/haadcode/roadmap-generator/blob/master/example/ROADMAP.md) template.

[2020-06-25 11:29] #6 closed

[2020-06-25 12:18] Pk13055 opened #55 "[Bug] Add Post button disappears"
The FAB for add post disappears on navigating to any of the category pages.

FAB Present on homepage:
![Screenshot from 2020-06-25 17-46-25](https://user-images.githubusercontent.com/13479308/85718193-e7d15380-b70b-11ea-9937-5f6b59f950eb.png)

FAB **NOT** present on anime page:
![Screenshot from 2020-06-25 17-47-37](https://user-images.githubusercontent.com/13479308/85718291-fddf1400-b70b-11ea-919

[2020-06-26 16:18] gsc2001 opened #56 "Verify & Implement Getter: items/getItemsByCategory"
#### Function to implement:

Getter: items/getItemsByCategory

Things to note:

-   [ ] Ensure different branch for each issue.
-   [ ] Rebase frequently to avoid conflicts later on
-   [ ] Try to ensure only a couple of commits
-   [ ] Test your code thoroughly before pushing
-   [ ] Add to description, "Fixes #issue-no, eg: Fixes #x (where #x is the issue id)
-   [ ] Work to be done on template

[2020-06-26 16:18] gsc2001 opened #57 "Verify & Implement Mutation: items/DEL_ITEM"
#### Function to implement:

Mutation: items/DEL_ITEM

Things to note:

-   [ ] Ensure different branch for each issue.
-   [ ] Rebase frequently to avoid conflicts later on
-   [ ] Try to ensure only a couple of commits
-   [ ] Test your code thoroughly before pushing
-   [ ] Add to description, "Fixes #issue-no, eg: Fixes #x (where #x is the issue id)
-   [ ] Work to be done on template branch.

[2020-06-26 16:18] gsc2001 opened #58 "Verify & Implement Action: items/updateItem"
#### Function to implement:

Action: items/updateItem

Things to note:

-   [ ] Ensure different branch for each issue.
-   [ ] Rebase frequently to avoid conflicts later on
-   [ ] Try to ensure only a couple of commits
-   [ ] Test your code thoroughly before pushing
-   [ ] Add to description, "Fixes #issue-no, eg: Fixes #x (where #x is the issue id)
-   [ ] Work to be done on template branch.

[2020-06-26 16:18] gsc2001 opened #59 "Verify & Implement Mutation: likes/ADD_LIKE"
#### Function to implement:

Mutation: likes/ADD_LIKE

Things to note:

-   [ ] Ensure different branch for each issue.
-   [ ] Rebase frequently to avoid conflicts later on
-   [ ] Try to ensure only a couple of commits
-   [ ] Test your code thoroughly before pushing
-   [ ] Add to description, "Fixes #issue-no, eg: Fixes #x (where #x is the issue id)
-   [ ] Work to be done on template branch.

[2020-06-26 16:18] gsc2001 opened #60 "Verify & Implement Mutation: likes/DEL_LIKE"
#### Function to implement:

Mutation: likes/DEL_LIKE

Things to note:

-   [ ] Ensure different branch for each issue.
-   [ ] Rebase frequently to avoid conflicts later on
-   [ ] Try to ensure only a couple of commits
-   [ ] Test your code thoroughly before pushing
-   [ ] Add to description, "Fixes #issue-no, eg: Fixes #x (where #x is the issue id)
-   [ ] Work to be done on template branch.

[2020-06-26 16:18] gsc2001 opened #61 "Verify & Implement Action: likes/upsertLike"
#### Function to implement:

Action: likes/upsertLike

Things to note:

-   [ ] Ensure different branch for each issue.
-   [ ] Rebase frequently to avoid conflicts later on
-   [ ] Try to ensure only a couple of commits
-   [ ] Test your code thoroughly before pushing
-   [ ] Add to description, "Fixes #issue-no, eg: Fixes #x (where #x is the issue id)
-   [ ] Work to be done on template branch.

[2020-06-26 16:18] gsc2001 opened #62 "Verify & Implement Mutation: ratings/ADD_RATING"
#### Function to implement:

Mutation: ratings/ADD_RATING

Things to note:

-   [ ] Ensure different branch for each issue.
-   [ ] Rebase frequently to avoid conflicts later on
-   [ ] Try to ensure only a couple of commits
-   [ ] Test your code thoroughly before pushing
-   [ ] Add to description, "Fixes #issue-no, eg: Fixes #x (where #x is the issue id)
-   [ ] Work to be done on template bran

[2020-06-26 16:18] gsc2001 opened #63 "Verify & Implement Mutation: ratings/DEL_RATING"
#### Function to implement:

Mutation: ratings/DEL_RATING

Things to note:

-   [ ] Ensure different branch for each issue.
-   [ ] Rebase frequently to avoid conflicts later on
-   [ ] Try to ensure only a couple of commits
-   [ ] Test your code thoroughly before pushing
-   [ ] Add to description, "Fixes #issue-no, eg: Fixes #x (where #x is the issue id)
-   [ ] Work to be done on template bran

[2020-06-26 16:18] gsc2001 opened #64 "Verify & Implement Action: ratings/upsertRating"
#### Function to implement:

Action: ratings/upsertRating

Things to note:

-   [x] Ensure different branch for each issue.
-   [x] Rebase frequently to avoid conflicts later on
-   [x] Try to ensure only a couple of commits
-   [x] Test your code thoroughly before pushing
-   [x] Add to description, "Fixes #issue-no, eg: Fixes #x (where #x is the issue id)
-   [x] Work to be done on template bran

[2020-06-26 16:20] gsc2001 commented on #58
Dependent on #57

[2020-06-26 16:20] gsc2001 commented on #61
Dependent on #60 , #59

[2020-06-26 16:21] gsc2001 commented on #64
Dependent on #63, #62

[2020-06-27 09:41] Megha-Bose commented on #55
`<v-tooltip left>
        <template #activator="{ on }">
              <v-icon v-on="on">{{ item.icon }}</v-icon>
        </template>
        <span>Add {{ item.title }}</span>
 </v-tooltip>`

Adding tooltip to v-icon instead of v-btn fixes this.

[2020-06-27 11:38] Pk13055 commented on #55
@Megha-Bose Okay, is it possible for you to submit a PR for the same?

[2020-06-27 12:05] kush-garg commented on #59
I want to take this.

[2020-06-27 12:07] gsc2001 commented on #59
Ok. Go on. I will be the backend member if you need any help

[2020-06-27 12:13] RajWorking commented on #60
i want to work on this

[2020-06-27 12:16] kjain1810 commented on #60
I can help you with this :)

[2020-06-27 13:53] #55 closed

[2020-06-28 17:13] Megha-Bose commented on #56
I would like to take up this issue.

[2020-06-28 17:15] MSurfer20 commented on #56
I'd be happy to help ya out :)

[2020-06-29 00:56] abhijitmanatkar commented on #62
I'd like to work on this.

[2020-06-29 06:22] gsc2001 commented on #62
Sure i would be happy to help you with this :)

[2020-06-29 14:55] RajWorking commented on #63
I would like to work on this

[2020-06-29 16:14] tathagata-raha commented on #57
I want to take this issue

[2020-06-29 16:16] susiejojo commented on #57
I can help u with this!

[2020-06-29 16:59] #62 closed

[2020-06-29 17:00] #60 closed

[2020-06-30 11:12] gsc2001 commented on #63
Done in #68

[2020-06-30 11:13] #63 closed

[2020-06-30 12:50] #59 closed

[2020-06-30 12:54] Pk13055 commented on #57
What’s the progress on this issue?

[2020-06-30 13:00] #56 closed

[2020-06-30 15:19] gsc2001 opened #74 "Integrate Add post"
#### Component: StepperSheet.vue

#### Functionality: Add post

#### Description

The data will be added the formData data() object in the component. Add it using items/addItem action, while loading show loading state

Things to note:

-   Ensure different branch for each issue.
-   Rebase frequently to avoid conflicts later on
-   Try to ensure only a couple of commits
-   Test your code thorough

[2020-06-30 15:19] gsc2001 opened #75 "Integrate Like Item"
#### Component: Post.vue

#### Functionality: Like Item

#### Description

TODO has been added for place to add @ click, create a method for adding/updating the like using likes/upsertLike action. The action will update the like if its already there

Things to note:

-   Ensure different branch for each issue.
-   Rebase frequently to avoid conflicts later on
-   Try to ensure only a couple of com

[2020-06-30 15:19] gsc2001 opened #76 "Integrate Rate Item"
#### Component: Post.vue

#### Functionality: Rate Item

#### Description

TODO has been added for place to add @ click, create a method for adding/updating the rating using ratings/upsertRating action. The action\will update the rating if its already there

Things to note:

-   Ensure different branch for each issue.
-   Rebase frequently to avoid conflicts later on
-   Try to ensure only a coupl

[2020-06-30 15:19] gsc2001 opened #77 "Integrate Display each property at appropriate location"
#### Component: Post.vue

#### Functionality: Display each property at appropriate location

#### Description

Post is taken from global state using id passed, its schema can be seen from localhost:8000/api/redoc

Things to note:

-   Ensure different branch for each issue.
-   Rebase frequently to avoid conflicts later on
-   Try to ensure only a couple of commits
-   Test your code thoroughly be

[2020-06-30 15:20] gsc2001 commented on #75
Dependent on #61

[2020-06-30 15:20] gsc2001 commented on #76
Dependent on #64

[2020-06-30 15:29] kjain1810 commented on #58
I can work on this

[2020-06-30 15:33] kjain1810 commented on #61
I can work on this if no one from the front end team is

[2020-06-30 18:31] gsc2001 commented on #74
Dependent on #58

[2020-07-01 09:16] kush-garg commented on #75
I want to take this.

[2020-07-01 09:37] gsc2001 commented on #75
@kush-garg do #61 first. It is dependent on that

[2020-07-01 09:47] kush-garg commented on #75
I think @kjain1810 is doing that. I am quite confused about how upsert will work. but I can try to write the event part till then.

[2020-07-01 09:51] Pk13055 commented on #61
Sure, go ahead!

[2020-07-01 20:47] gsc2001 commented on #64
I am wokring on this

[2020-07-03 10:23] #61 closed

[2020-07-03 10:24] #64 closed

[2020-07-04 07:02] kush-garg commented on #75
Can I start this?

[2020-07-04 10:33] kjain1810 commented on #75
@kush-garg upsertLike has been merged and the Blocked tag has been removed, I think you can start this

[2020-07-05 11:35] Megha-Bose commented on #77
I want to take this.

[2020-07-05 14:18] gsc2001 commented on #77
Sure :+1:

[2020-07-05 20:42] #77 closed

[2020-07-05 20:44] Pk13055 commented on #57
@tathagata-raha You need to rebase your PR such that it has only 1 commit. @susiejojo see if you can help him with the same

[2020-07-05 20:45] Pk13055 commented on #75
@kush-garg Have you made any progress so far?

[2020-07-06 06:49] kush-garg commented on #75
@Pk13055 I will try to finish this by tonight.

[2020-07-06 12:17] RajWorking commented on #76
i would like to work on this

[2020-07-06 12:18] gsc2001 commented on #76
Sure :+1:

[2020-07-06 12:46] #76 closed

[2020-07-07 16:13] #57 closed

[2020-07-07 16:16] #75 closed

[2020-07-08 09:17] gsc2001 commented on #58
I am working on this

[2020-07-08 11:30] gsc2001 commented on #74
I am working on this

[2020-07-08 12:05] gsc2001 opened #89 "Bug while viewing less items"
Items view is wierd for 2 items
![image](https://user-images.githubusercontent.com/56212978/86916505-53221900-c141-11ea-9daf-8e2778123b79.png)

[2020-07-08 12:05] #58 closed

[2020-07-08 12:07] gsc2001 opened #90 "Add Form validation"
I have done for all the required fields these are left
The form needs to be validated on following points -
- Year should be a number
- url must be a proper url
- seasons must be a number
- episode_length must be a number
- season_length must be a number

[2020-07-08 12:07] #74 closed

[2020-07-08 12:08] Pk13055 commented on #89
That's because of `space-between` as the justify param in `ItemsDisplay`

[2020-07-08 12:09] Pk13055 commented on #90
Only these are left?

[2020-07-08 12:10] gsc2001 commented on #90
Ya

[2020-07-08 12:14] gsc2001 commented on #90
I dont find any more .

[2020-07-09 17:39] #89 closed

[2020-07-09 17:45] Pk13055 commented on #90
You have not rendered the error appropriately as well. You need to link the response received to the various fields in case the form is not sucessfully linked. Also, for all the fields something similar to [this[(https://vuetifyjs.com/en/components/textarea/#beautiful-forms) is required for validation, right? Maybe we can use [vuelidate](https://vuetifyjs.com/en/components/forms/#vuelidate) instea

[2020-07-09 17:51] gsc2001 commented on #90
I left the error message to be changed by this issue only. But then i forgot to mention it here. Yeah sure we can use vuelidate.

[2020-07-09 17:55] gsc2001 commented on #90
So do i work on this or leave for somebody else to pick it up

[2020-07-09 18:03] Pk13055 opened #93 "[Bug] `v-main` component not defined"
**Describe the bug**
On launching the application the `v-main` component in `App.vue` throws an error.

**To Reproduce**
1. Pull latest codebase
2. Run and go to `localhost:8000/`
3. Open console (F12)

**Screenshots**
![Screenshot from 2020-07-09 23-32-19](https://user-images.githubusercontent.com/13479308/87074501-96ad7d80-c23c-11ea-9a67-e3cef1c13f93.png)

Traceback:

[code]

[2020-07-09 18:05] Pk13055 opened #94 "[Info] renaming of components"
All the changes done on the frontend have been pulled into master and some of the components have been renamed for consistency. Please pull the latest master branch and delete your `template` branch. Now onwards, all issues/bugs will be committed to the master branch itself directly.

[2020-07-09 18:14] Pk13055 commented on #90
Ideally since this is the crux of the application I would prefer you work on it, but if you don't want to, we can leave it to someone else, maybe @Megha-Bose

[2020-07-09 18:16] Pk13055 opened #95 "[Bug] addition of rating not working"
**Describe the bug**
once a rating has been added the first time, any subsequent changes to the rating do not reflect in the backend.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new item
2. Rate the item
3. Try rating it again
4. See the database (no changes after first addition)

**Expected behavior**
Rating should change each time it is modified

[2020-07-09 18:19] Pk13055 opened #96 "[Bug] items not displaying without hard refresh"
**Describe the bug**
When you switch to a different category for the first time, the items do not display. A hard refresh (ctrl + shift + r) needs to be done in order to display them.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any category
2. Add an item
3. Go to another category
4. Hard refresh (ctrl + shift + r)
5. Navigate to the previous category (in which you added a new item

[2020-07-09 18:21] gsc2001 commented on #90
I will work on it

[2020-07-09 18:21] gsc2001 commented on #95
I am working on it

[2020-07-09 18:22] gsc2001 commented on #96
I am working on it.

[2020-07-09 19:12] gsc2001 commented on #96
The basic problem in this was basically that it was loading in back but was not showing anything on front

[2020-07-09 19:19] #95 closed

[2020-07-09 19:19] #96 closed

[2020-07-10 08:10] gsc2001 commented on #90
I am doing this with vuelidate. Ok?

[2020-07-10 09:06] gsc2001 commented on #90
Steps: -

- [ ] Common form
- [ ] Specific form

[2020-07-11 11:59] #90 closed

[2020-07-11 21:46] Pk13055 opened #99 "[Bug] Add Item validation"
**Describe the bug**
On going to the next part in the stepper, validation should be triggered

**To Reproduce**
Steps to reproduce the behavior:
1. Misenter something
2. Go to the next/previous section
3. No validation error is thrown up

**Expected behavior**
Validation error should be thrown

[2020-07-11 21:47] Pk13055 opened #100 "[Addition] EditItem UI"
**Describe the solution you'd like**
When the edit button is clicked all fields become editable

[2020-07-11 22:33] #99 closed

[2020-07-11 23:15] Pk13055 opened #101 "[Bug] AddItem "reset" button not working"
**Describe the bug**
Clicking on Reset OR Cancel does not reset or close the sheet

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Add *
2. Enter some details and try to reset by clicking on reset
3. Try to cancel the form filling by pressing cancel
4. It doesn't work

**Expected behavior**
They should work

[2020-07-11 23:17] Pk13055 opened #102 "[Bug] AddItem Stepper 1 next button stays "red" after successful validation as well"
**Describe the bug**
On filling in the correct details for the first stepper, the next button should turn "red" (as it does in the second stepper), but it is not

**To Reproduce**
Steps to reproduce the behavior:
1. Add *
2. Fill in the first stepper sucessfully
3. Observe that the "next" button is still red

**Expected behavior**
It should turn green (as is the case in stepper 2)

[2020-07-11 23:19] Pk13055 opened #103 "[Addition] Search page"
**Is your feature request related to a problem? Please describe.**
A frontend and accompanying backend is required for search

**Describe the solution you'd like**
- [ ] Search API
- [ ] Search View
- [ ] Search components
   - [ ] CommonFilter component
   - [ ] SpecificFilter component(s)
   - [ ] SearchBox component

[2020-07-11 23:21] Pk13055 opened #104 "[Update] model schemas to change other fields to optional"
The backend schema and potentially some parts of the API need to be changed to make all fields apart from
title, link, year released and url to be made optional. Additionally, certain fields have to be changed into lists, viz. streaming, genre

[2020-07-11 23:23] Pk13055 opened #105 "[Update] change overlay to skeleton loader for post loading"
**Is your feature request related to a problem? Please describe.**
Currently the items show a loader briefly before loading. This should be changed to a skeleton loader based system

[2020-07-11 23:42] #105 closed

[2020-07-11 23:47] Pk13055 opened #106 "[Addition] LoginComponent"
**Is your feature request related to a problem? Please describe.**
Currently login is done by manually adding a token `AUTH_TOKEN`. This has to change (with potential changes required to backend

[2020-07-12 01:01] Pk13055 opened #107 "[Bug] frontend requests duplicating on backend"
**Describe the bug**
All the frontend url routes are logging in the backend as well

**To Reproduce**
Steps to reproduce the behavior:
1. dc logs -f frontend
2. dc logs -f backend
3. navigate to a frontend route
4. it will appear in the backend logs as well

**Expected behavior**
It should not appear in the backend logs

[2020-07-13 15:14] gsc2001 commented on #106
I was working on this

[2020-07-13 17:11] #106 closed

[2020-07-13 18:41] #100 closed

[2020-07-13 20:21] Pk13055 opened #110 "[Improvement] UI element for editing should match addition"
**Is your feature request related to a problem? Please describe.**
Currently the UI for editing the post has different selection elements than the add item post.

**Describe the solution you'd like**
Update the edit post UI to have the same `input` elements for the various fields.

[2020-07-13 20:23] Pk13055 commented on #110
@Megha-Bose please start changing the field types to match the add item form. Additionally, the genres have to also be editable

[2020-07-13 20:29] Pk13055 commented on #100
Dependent #110

[2020-07-13 20:51] kjain1810 commented on #107
I am looking into this

[2020-07-14 09:18] gsc2001 commented on #101
I want to work on this

[2020-07-14 10:34] Megha-Bose commented on #110
@Pk13055 Okay.

[2020-07-18 18:27] gsc2001 commented on #102
Done in #112

[2020-07-18 18:28] gsc2001 commented on #103
Can you guide me on how to create a search API

[2020-07-18 23:07] #110 closed

[2020-07-18 23:07] #101 closed

[2020-07-18 23:07] #102 closed

[2020-07-18 23:08] Pk13055 commented on #103
We need to discuss about how the frontend will implement search filters, and if there are any libraries to do that.

[2020-07-18 23:09] #94 closed

[2020-07-19 07:17] gsc2001 commented on #103
@Pk13055 Ok. When to do that ?

[2020-07-23 15:22] kjain1810 commented on #103
Algolia library can be used for searching.

[2020-07-23 21:01] Pk13055 commented on #103
@kjain1810 This library looks good. Please start looking into how we can integrate it into the backend/database and further go through this [vue](https://codesandbox.io/embed/github/algolia/doc-code-samples/tree/master/Vue+InstantSearch/getting-started) application to see how we possible can implement the frontend. @Megha-Bose Please go through the frontend attached above and figure out possible i

[2020-07-23 21:09] Pk13055 opened #114 "[Addition] cleaned movie database"
Combine the movielens 25M dataset with the tmdb dataset and coerce it into a `.json` file that can be imported into mongo.
This step needa to be completed for us to be able to test/implement the search API.

[2020-07-23 21:10] Pk13055 commented on #114
@gsc2001 will work on this

[2020-07-24 06:00] gsc2001 commented on #114
Ok :+1:

[2020-07-24 18:15] gsc2001 commented on #114
So do i combine all the data or only which is in our model.?

[2020-07-25 18:33] gsc2001 commented on #104
I am taking this because this is needed in data uploading

[2020-07-29 07:59] gsc2001 opened #116 "[Feature] Search page api"
Search page api needs to me up after data in imported

[2020-07-29 08:01] gsc2001 opened #117 "[Feature] Search page frontend"
Search page frontend should consist of:
- A drawer for filter areas
- Items display section

Work should start alongside the api development

[2020-07-29 10:23] gsc2001 opened #118 "[Info] Import data file in your mongodb"
go to `localhost:8000/db_interface` inside movies db and data collection click `import JSON`, upload [this](https://github.com/gsc2001/recommender-analysis/blob/master/data/imortable)

then refresh

[2020-07-29 10:24] gsc2001 opened #119 "[Feature] Surprise"
Data -> [here](https://github.com/gsc2001/recommender-analysis/blob/master/data/movies.json)

[2020-07-31 13:42] #104 closed

[2020-08-06 05:27] #118 closed

[2020-08-06 05:28] #114 closed

[2020-08-06 05:29] Pk13055 commented on #103
@kjain1810 How is the backend API coming along?
@Megha-Bose How is the frontend coming along?

[2020-08-06 05:30] Pk13055 commented on #103
Dependent #117, #116

[2020-08-06 05:31] Pk13055 commented on #117
@Megha-Bose You can take the help of the frontend team to finish this up quickly.

[2020-08-06 05:31] Pk13055 commented on #116
@kjain1810 You can take help of the backend team to wrap this up quickly

[2020-08-06 05:32] Pk13055 commented on #119
@tathagata-raha @susiejojo Please look into surprise integration after uploading the data.

[2020-08-09 15:51] #117 closed

[2021-03-04 12:04] WebersonRodrigues commented on #93
Do you have any palliative solutions to this situation?